{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

      <hr>
      <div class="row">
        <div class="img-thumbnail offset-md-3 col-md-7" style="background: black">
          <img src={% static 'hdrmaryland.gif' %}>
          <br>
          <img src={% static 'hdrfari.gif' %}>
        </div>
      </div>
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

{% endblock %}
